.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
    
}
.wrap {
    padding: 10px;
 }

.userInfo {
    display: flex;
    flex-direction: row;
}

.userInfo__header {
    margin-top: 0;
    text-align: center;
}

.userInfo__header a {
    text-decoration: none;
    color: black;
}

.avatar {
    overflow: hidden;
    border-radius: 10%;
    width: 30%;
    margin-right: 10px;    
    margin-left: 35%;
}

.userInfo {
   display: grid;

}
.repos {
  width: 100%;
  margin-top: 15px;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 7px 7px 5px darkgrey;
}
.repoList {
  list-style-type: none;
  margin-left: 2%;
    
}

.repoItem a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
    color: darkviolet;
}


.errorText {
  color: #FFE4E1;
  text-align: center;
} 
.avatar__contacts,
.avatar__phone {
    display: flex;
    width: 20px;
}

.avatar__contacts_data,
.avatar__contacts_phone {
    padding-left: 10px;
}